<?xml version='1.0'?>
<robot name='armstrong' xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Load from yaml file -->
<xacro:property name='armyaml' value='$(find package)/config/arm.yaml'/>
<xacro:property name='Ls' value='${load_yaml(armyaml)}'/>
<xacro:property name='L1' value='${Ls["L1"]}' />
<xacro:property name='L2' value='${Ls["L2"]}' />
<xacro:property name='r' value='0.1' />

<!-- Link 1 -->
<link name="base" >
  <visual>
    <geometry>
      <sphere radius='${r}' />
     </geometry>
     <material name="green_mat">
         <color rgba="0 1 0 1" />
     </material>
   </visual>

</link>

<!-- the movable body
<link name="body">
  <visual>
    <geometry>
    <box size="3 2 1" />
    </geometry>
     <material name="red_mat">
         <color rgba="1 0 0 0.5" />
     </material>
  </visual>
</link>

<link name="arm">
  <visual>
  <origin xyz="0 0 0.5" rpy="0 0 0" />
   <geometry>
     <cylinder radius="0.1" length="1.0" />
   </geometry>
     <material name="blue_mat">
         <color rgba="0 0 1 1" />
     </material>
   </visual>
</link>

<joint name="linear" type="prismatic">
  <parent link="base" />
  <child link="body" />
  <limit lower="-10" upper="10" effort="100" velocity="100" />
</joint>

<joint name="rotational" type="continuous">
  <origin xyz="1.5 0 0.5" rpy="0 0 0" />
  <parent link="body" />
  <child link="arm" />
</joint> -->

</robot>