<launch>
     <arg name="rviz" default='true'/>
     <arg name="gui" default='false'/>

     <!-- load the urdf into the parameter server -->
     <param name="robot_description" command="xacro '$(find turtle_trajectories)/urdf/armstrong.urdf.xacro'" />

     <!-- load parameter file -->
     <rosparam file='$(find turtle_trajectories)/config/arm.yaml' /> 

     <!-- necessary node -->
     <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

     <!-- optional nodes -->
     <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if='$(arg gui)' />
     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_trajectories)/config/arm_view.rviz" if='$(arg rviz)' />
     <node name='arm_traj' pkg='turtle_trajectories' type='arm_traj' unless='$(arg gui)' />

</launch>