<launch>
  <!-- load the urdf into the parameter server -->
  <!-- <param name="robot_description" textfile="$(find me495_urdf)/urdf/slidebot.urdf" /> -->
  <param name="robot_description" command="xacro '$(find turtle_trajectories)/urdf/armstrong.urdf.xacro'" />

  <!-- The robot_state_publisher reads the urdf from /robot_description parameter
       and listens to joint information on the /joint_states topic -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- The joint state publisher will be launched with a gui, read the urdf from /robot_description
       and publish the joint values on /joint_states --> 
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>


  <!-- rviz will enable us to see the robot -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_trajectories)/config/arm_view.rviz"/>



</launch>