<launch>
    <node name="romaing_turtle" pkg="turtlesim" type="turtlesim_node" />
    <node name="trajectory" pkg="turtle_trajectories" type="trajectory" >
        <remap from="cmd_vel" to="/turtle1/cmd_vel" />
    </node>
    <rosparam file="$(find turtle_trajectories)/config/trajectory.yaml" />
</launch>